<div class="perfil-container">
  <h1>Mi Perfil</h1>
  <p class="subtitulo">Gestiona tu información personal y configuración de cuenta</p>

  <div class="perfil-header">
    <div class="perfil-icono">
      <img src="assets/usuario.png" alt="Foto" class="foto-perfil" />
    </div>
    <div class="perfil-info">
       <p>{{ datosUsuario.nombre }} {{ datosUsuario.apellido }}</p>
  <p>{{ datosUsuario.correo }}</p>

      <span class="rol">Administrador Principal</span>
    </div>
  </div>

  <div class="perfil-form">
    <h3>Información del Administrador</h3>
    <form>
    
      <label for="nombre">Nombre</label>
<input [value]="datosUsuario.nombre || 'Sin nombre'" disabled>
      <label for="apellido">Apellido</label>
<input [value]="datosUsuario.apellido || 'Sin apellido'" disabled>
      <label for="correo">Correo Electrónico</label>
     <input [value]="datosUsuario.correo || ''" disabled>

      <label for="usuario">Nombre de Usuario</label>
<input [value]="datosUsuario.usuario || ''" disabled>
      <label for="imagen">Imagen de Perfil</label>
      <input id="imagen" type="file" />
    </form>
  </div>
</div>
