<!-- login.html -->
<div
  style="background-image: url('/fondo.jpg'); background-size: cover; background-position: center; min-height: 100vh; display: flex; justify-content: center; align-items: center;"
>
  <div id="loadingScreen" *ngIf="loading" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.8); display: flex; justify-content: center; align-items: center; z-index: 1000;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Cargando...</span>
    </div>
  </div>

  <div class="wrapper">
    <form (ngSubmit)="onLogin()" #userLoginForm="ngForm">
      <div class="app">
        <h1>Ucv//Bot</h1>
      </div>

      <div class="input-box">
        <input
          type="text"
          name="email"
          [(ngModel)]="email"
          placeholder="Nombre de Usuario"
          title="Tu nombre de usuario es la parte inicial de tu correo antes de '@ucvvirtual.edu.pe'"
          required
        />
      </div>

      <div class="input-box">
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          placeholder="Contraseña"
          required
        />
      </div>

      <div class="remember-forgot">
        <label><input type="checkbox" />Recordar contraseña</label>
        <a href="#">¿Olvidó su contraseña?</a>
      </div>

      <div class="alert alert-danger" *ngIf="loginError" role="alert">
        Correo electrónico o contraseña incorrectos.
      </div>

      <button type="submit" class="btn">INICIAR SESIÓN</button>

      <div class="register-link">
    <p>
    ¿No tiene una cuenta?
    <button (click)="goToRegistro()" class="btn btn-outline-primary btn-sm">Regístrese</button>
    </p>
    </div>
    </form>
  </div>
</div>
